@{ string nom = (string)ViewBag.Nombre;}

<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-credit-card-alt"></i> Add Proposal for Client:@nom </h3>
    </div>
</div>

<form id="mant-form" action="@Url.Action("AgregarPropuestaCliente", "CRM")" method="post">
    <div class="panel">
        <div class="box-header with-border">
            <h3 class="box-title">Add Questionnaire</h3>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-4">
                <div class="input-group">
                    @Html.DropDownList("documento", ((SelectList)ViewBag.categorias), "Select...", new { @id = "documento1", @class = "selectCat form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <input type="file" id="files1" name="files" class="uploadfile" />
            </div>
        </div>
        <br /><br /><br />
        <div class="box-header with-border">
            <h3 class="box-title">Add Proposal</h3>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-4">
                <div class="input-group">
                    @Html.DropDownList("documento", ((SelectList)ViewBag.categorias), "Select...", new { @id = "documento1", @class = "selectCat form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <input type="file" id="files1" name="files" class="uploadfile" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="box-header with-border">
        <h3 class="box-title">Services to Select </h3>
    </div>
    <div id="example">
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
        <button type="button" class="btn btn-warning pull-right" action="save">Save</button>
    </div>
</form>


<script>
    var id_cliente = @ViewBag.ID_CLiente;
    function CargaListServices() {
        $.ajax({
            async: true,
            type: 'POST',
            url: "@Url.Action("ServiciosLista", "CRM")",
            data: {id : id_cliente},
            success: function (result)
            {
                var grupo ="";
                var html_ = "";
                $.each(result.data, function(index, item){
                    if(grupo == ""){
                        html_ = '<div class="anchor">' +
                                '<ul>'+
                                    '<li>'+
                                        '<label><input type="checkbox" data-id='+ item.Grupo +' data-name='+ item.Grupo +' />'+ item.Grupo+'</label>'+
                                    '<ul>'+
                                        '<li><label><input type="checkbox" data-id='+ item.ID_servicio +' data-name='+item.ID_servicio+' value ='+item.ID_servicio+'/> '+ item.Nombre +'</label></li>';
                    }
                    if(grupo == item.Grupo)
                    {
                        html_ = html_ + '<li><label><input type="checkbox" data-id='+ item.ID_servicio +' data-name='+item.ID_servicio+' value ='+item.ID_servicio+'/> '+ item.Nombre +'</label></li>';
                    }
                    if(grupo != item.Grupo && grupo != ""){
                        html_ = html_ + '</ul>'+
                                    '</li>'+
                                    '<li>'+
                                        '<label><input type="checkbox" data-id='+ item.Grupo +' data-name='+ item.Grupo +' />'+ item.Grupo+'</label>'+
                                    '<ul>'+
                                        '<li><label><input type="checkbox" data-id='+ item.ID_servicio +' data-name='+item.ID_servicio+' value ='+item.ID_servicio+'/> '+ item.Nombre +'</label></li>';
                    }
                    grupo = item.Grupo;

                });
                html_ = html_ + '</ul>'+
                            '</div>';
                debugger;
                $('#example').append(html_);
                //$(".anchor").deepcheckbox();
                $('.anchor').deepcheckbox({
                    readableListTarget: '.selected-readable',
                    onChange: function(items, except) {
                        $('.selected').html('[' + items.join(', ') + ']');
                        $('.excepted').html('[' + except.join(', ') + ']');
                    }
                });
            }
        });
    }

    var $upload = $(".uploadfile").fileinput({
        showPreview: false,
        showCancel: true,
        showUpload: false,
        browseClass: 'btn btn-warning',
        browseLabel: 'Select Document',
        browseIcon: "<span class='glyphicon glyphicon-open-file' aria-hidden='true'></span>",
        removeClass: "btn btn-danger",
        removeLabel: "Delete",
        removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i>",
        showCancel: true//,
        //maxFileSize: 2500

    }).on('fileerror', function (e, params) {
        iziToast.error({
            title: 'Error',
            message: "<i class='fa fa-clock-o'></i> <i>" + e.handleObj.handler.arguments[2] + "...</i>",
            position: 'topRight',
            transitionIn: 'fadeInDown'
        });
    });

    $(document).ready(function(){
        // I call the function
        setFormulario("mant-form");
        CargaListServices();
        

        //$(".anchor").deepcheckbox();
        //$('.anchor').deepcheckbox({
        //    readableListTarget: '.selected-readable',
        //    onChange: function(items, except) {
        //        $('.selected').html('[' + items.join(', ') + ']');
        //        $('.excepted').html('[' + except.join(', ') + ']');
        //    }
        //});
    });
</script>
